:root {
  --grey: #3c3c3b;
  --light-grey: #4a4a49;
  --text-color: #333;

  --orange: #f39200;
  --dark-orange: #aa6600;

  --spacer: 15px;
  --fonts: Arial, Helvetica, sans-serif;
}

body {
  font-family: Roboto, var(--fonts);
}

.container {
  max-width: 1290px;
  padding: 0 var(--spacer);
  margin: 0 auto;
  position: relative;
}

.header {
  background-color: var(--grey);
  border-bottom: 2px solid var(--dark-orange);
}

.navigation {
  background-color: var(--grey);
  border-top: 4px solid var(--orange);
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 50px;
  color: #fff;
  font-family: Intro Caps, var(--fonts);
  text-decoration: none;
}

.headline {
  display: flex;
  justify-content: flex-end;
}

.logo {
  width: 225px;
  height: 70px;
  background: url(../images/logo.png) no-repeat 0 50%;
  margin-right: auto;
}

.head-nav {
  display: flex;
  align-items: center;
  margin-right: 107px;
}

.head-nav__link {
  width: 46px;
  height: 46px;
  position: relative;
}

.head-nav__link:before {
  content: '';
  background: url(../images/head-nav.png) no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.head-nav__link_search:before {
  width: 18px;
  height: 18px;
}

.head-nav__link_map:before {
  width: 22px;
  height: 22px;
  background-position: -18px 0;
}

.head-nav__link_eye:before {
  width: 22px;
  height: 16px;
  background-position: -40px 0;
}

.head-nav__link_print:before {
  width: 22px;
  height: 22px;
  background-position: -62px 0;
}

.head-info {
  display: flex;
  align-items: center;
  margin: 0 calc(var(--spacer) * -1);
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.head-info__item {
  text-align: right;
  padding: 0 var(--spacer);
}

.head-info__link {
  color: #fff;
  text-decoration: none;
}

.slider {
  height: 484px;
  /* remove this ∨ */
  color: #fff;
  background-color: var(--light-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Intro Caps, var(--fonts);
  font-size: 48px;
  /* remove this ∧ */
}

.section {
  padding: 65px 0 58px;
}

.news {
  background-color: var(--grey);
  position: relative;
  overflow: hidden;
}

.news:after {
  content: '';
  width: 100%;
  background-color: var(--light-grey);
  transform: skew(-55deg);
  position: absolute;
  top: 30px;
  bottom: 30px;
  right: -50%;
  z-index: 0;
  pointer-events: none;
}

.news:before {
  content: '';
  width: 100%;
  background-color: var(--grey);
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: calc(-50% - 330px);
  z-index: 1;
  pointer-events: none;
}

.news > .container {
  z-index: 5;
}

.caption {
  text-align: center;
  text-transform: uppercase;
  font-family: Intro Caps, var(--fonts);
  font-weight: 900;
  font-size: 40px;
  line-height: 20px;
  color: var(--text-color);
  margin: 0;
}

.caption:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--orange);
  margin-left: 7px;
}

.caption_white {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 26px calc(var(--spacer) * -1) 0;
}

.col {
  max-width: 100%;
  padding: 0 var(--spacer);
  flex-basis: 0;
  flex-grow: 1;
}

.w-100 {
  width: 100%;
}

.image {
  max-width: 100%;
  vertical-align: bottom;
}

.news-list {
  margin-top: 30px;
}

.news__item {
  display: block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 4px solid #343433;
}

.news__image {
  height: 200px;
}

.news-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px 20px;
  height: 106px;
  color: var(--text-color);
  background-color: #fff;
  transition: 300ms ease;
}

.news__item:hover .news-text {
  color: #fff;
  background-color: var(--orange);
  transition: 300ms ease;
}

.news-text__title {
  font-family: Intro, var(--fonts);
  font-weight: 700;
  line-height: 24px;
}

.news-text__date {
  font-size: 14px;
  color: #999;
  transition: color 300ms ease;
}

.news__item:hover .news-text__date {
  color: #fff;
  transition: color 300ms ease;
}

.news-more {
  text-align: center;
  margin-top: 26px;
}

.button {
  border: 4px solid #c1c1c1;
  border-radius: 40px;
  color: #c1c1c1;
  background-color: transparent;
  padding: 14px 30px 12px;
  font-family: Intro Caps, var(--fonts);
  font-weight: 700;
}

.event-list {
  margin-top: 31px;
}

.event__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey);
  position: relative;
  border-bottom: 4px solid #b2b2b2;
  padding: 55px 30px 6px;
  height: 179px;
  color: #fff;
  text-decoration: none;
  font-family: Intro Caps, var(--fonts);
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
}

.event__item:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--light-grey);
  transform: skew(30deg);
  transition: background-color 300ms ease;
  position: absolute;
  top: 0;
  right: -50%;
  z-index: 0;
}

.event__item:hover:before {
  background-color: var(--orange);
  transition: background-color 300ms ease;
}

.event__title {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.event-date {
  display: flex;
  align-items: center;
  font-family: Intro Cond, var(--fonts);
  font-weight: 900;
  font-size: 60px;
  line-height: 64px;
  position: relative;
  z-index: 1;
}

.event-date__month {
  font-size: 20px;
  color: #80807e;
  transition: color 300ms ease;
}

.event__item:hover .event-date__month {
  color: #fff;
  transition: color 300ms ease;
}

.event-date__delimiter {
  width: 20px;
  height: 6px;
  background-color: #fff;
  margin: -15px 10px 0;
}

.event-date__day {
  transition: color 300ms ease;
}

.event__item:hover .event-date__day {
  color: var(--orange);
  transition: color 300ms ease;
}

.footer {
  height: 244px;
  background-color: var(--grey);
  border-top: 2px solid var(--dark-orange);
  position: relative;
  overflow: hidden;
}

.footer:before {
  content: '';
  background-color: var(--light-grey);
  transform: skew(-45deg);
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 30px;
  left: calc(-50% + 170px);;
  pointer-events: none;
}

.copyright {
  margin-top: 5px;
  margin-right: auto;
  color: rgba(255, 255, 255, .66);
}

.headline_footer {
  margin-top: 47px;
}

.to-top {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.to-top__link {
  font-family: Intro Caps, var(--fonts);
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ccc;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 22px;
  position: relative;
}

.to-top__link:before {
  content: '';
  width: 100%;
  height: 16px;
  background: url(../images/button-up.png) no-repeat 50% 0;
  position: absolute;
  top: 0;
  left: 0;
}

.banners {
  background-color: var(--grey);
  border-bottom: 4px solid var(--orange);
}

.banner-list {
  height: 200px;
  align-items: center;
  margin-top: 0;
}

.banner__item {
  display: flex;
  color: #fff;
  text-decoration: none;
  align-items: center;
}

.banner__image > img {
  vertical-align: bottom;
}

.banner__text {
  margin-left: 20px;
}

.services {

}

.service-list {
  width: 940px;
  height: 270px;
  justify-content: space-between;
  margin: 0 auto;
}

.service__col {
  width: 250px;
  flex-basis: auto;
  flex-grow: 0;
}

.service__link {
  display: block;
  padding-top: 122px;
  margin-top: 58px;
  position: relative;
  color: var(--text-color);
  font-family: Intro Caps, var(--fonts);
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.service__link:before {
  content: '';
  width: 96px;
  height: 96px;
  background: url(../images/service-icon.png) no-repeat;
  margin-left: calc(-96px / 2);
  position: absolute;
  top: 0;
  left: 50%;
}

.service__link_map:before {
  background-position: 0 0;
}

.service__link_window:before {
  background-position: -96px 0;
}

.service__link_compass:before {
  background-position: -192px 0;
}
