:root {
  --grey: #3c3c3b;
  --light-grey: #4a4a49;
  --text-color: #333;

  --orange: #ff9300;
  --dark-orange: #aa6600;

  --line-height: 24px;
  --spacer: 15px;
  --fonts: Arial, Helvetica, sans-serif;
  --container-width-max: 1290px;
  --container-width-min: 1000px;
}

body {
  font-family: Roboto, var(--fonts);
  color: var(--text-color);
  line-height: var(--line-height);
}

.page {
  min-width: var(--container-width-min);
}

.container {
  max-width: var(--container-width-max);
  padding: 0 var(--spacer);
  margin: 0 auto;
  position: relative;
}

.container_slim {
  width: 850px;
  z-index: 10;
}

.link {
  color: #fff;
  text-decoration: none;
  transition: color 300ms ease;
}

.link:hover {
  color: var(--orange);
  transition: color 300ms ease;
}

.header {
  background-color: var(--grey);
  border-bottom: 2px solid var(--dark-orange);
}

.navigation {
  background-color: var(--grey);
  border-top: 4px solid var(--orange);
  position: relative;
  overflow: hidden;
}

.navigation:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--light-grey);
  border-left: 4px solid #424242;
  transform: skew(30deg);
  position: absolute;
  left: calc(50% + var(--container-width-max) / 2 - 190px); /* число 190 взято наугад */
  top: 0;
  z-index: 1;
  pointer-events: none;
}

.navigation_fpu:after {
  background-color: var(--orange);
  border-left-color: var(--dark-orange);
}

.navigation > .container {
  position: relative;
  z-index: 5;
}

.nav {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.nav__link {
  display: flex;
  align-items: center;
  height: 50px;
  font-family: Intro Bold Caps, var(--fonts);
  font-weight: bold;
  text-decoration: none;
}

.navigation_fpu .nav__link:last-child:hover {
  color: var(--text-color)
}

.nav__icon {
  width: 32px;
  height: 32px;
  background: url(../images/nav-icon.png) no-repeat 0 0;
  margin-right: 10px;
}

.headline {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 70px;
}

.logo {
  width: 225px;
  height: 35px;
  background: url(../images/logo.png) no-repeat 0 0;
  margin-right: auto;
}

.logo_fpu {
  width: 217px;
  height: 26px;
  background-position: 0 -35px;
}

.head-nav {
  display: flex;
  align-items: center;
  margin-right: 107px;
}

.head-nav__link {
  width: 46px;
  height: 46px;
  position: relative;
}

.head-nav__link:before {
  content: '';
  background: url(../images/head-nav.png) no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.head-nav__link_search:before {
  width: 18px;
  height: 18px;
}

.head-nav__link_map:before {
  width: 22px;
  height: 22px;
  background-position: -18px 0;
}

.head-nav__link_eye:before {
  width: 22px;
  height: 16px;
  background-position: -40px 0;
}

.head-nav__link_print:before {
  width: 22px;
  height: 22px;
  background-position: -62px 0;
}

.head-info {
  display: flex;
  align-items: center;
  margin: 0 calc(var(--spacer) * -1);
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

.head-info__item {
  text-align: right;
  padding: 0 var(--spacer);
}

.slider {
  height: 484px;
  /* remove this ∨ */
  color: #fff;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Intro Bold Caps, var(--fonts);
  font-size: 48px;
  /* remove this ∧ */
}

.section {
  padding: 65px 0 58px;
}

.news {
  background-color: var(--grey);
  position: relative;
  overflow: hidden;
}

.news:after {
  content: '';
  width: 100%;
  background-color: var(--light-grey);
  transform: skew(-55deg);
  position: absolute;
  top: 30px;
  bottom: 30px;
  right: -50%;
  z-index: 0;
  pointer-events: none;
}

.news:before {
  content: '';
  width: 100%;
  background-color: var(--grey);
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: calc(-50% - 330px);
  z-index: 1;
  pointer-events: none;
}

.news > .container {
  z-index: 5;
}

.caption {
  text-align: center;
  text-transform: uppercase;
  font-family: Intro Black Caps, var(--fonts);
  font-size: 40px;
  line-height: 20px;
  color: var(--text-color);
  margin: 0;
}

.caption:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--orange);
  margin-left: 7px;
}

.caption_white {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 26px calc(var(--spacer) * -1) 0;
}

.col {
  max-width: 100%;
  padding: 0 var(--spacer);
  flex-basis: 0;
  flex-grow: 1;
}

.image {
  max-width: 100%;
  vertical-align: bottom;
}

.news-list {
  margin-top: 30px;
}

.news__item {
  display: block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 4px solid #343433;
}

.news__image {
  height: 200px;
}

.news-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 20px 20px;
  height: 106px;
  color: var(--text-color);
  background-color: #fff;
  transition: 300ms ease;
}

.news__item:hover .news-text {
  color: #fff;
  background-color: var(--orange);
  transition: 300ms ease;
}

.news-text__title {
  font-family: Intro, var(--fonts);
  font-weight: 700;
  line-height: 24px;
}

.news-text__date {
  font-size: 14px;
  color: #999;
  transition: color 300ms ease;
}

.news__item:hover .news-text__date {
  color: #fff;
  transition: color 300ms ease;
}

.news-more {
  text-align: center;
  margin-top: 26px;
}

.button {
  border: 4px solid #c1c1c1;
  border-radius: 40px;
  color: #c1c1c1;
  background-color: transparent;
  padding: 14px 30px 12px;
  font-family: Intro Bold Caps, var(--fonts);
}

.event-list {
  margin-top: 31px;
}

.event__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--grey);
  position: relative;
  border-bottom: 4px solid #b2b2b2;
  padding: 55px 30px 6px;
  height: 179px;
  color: #fff;
  text-decoration: none;
  font-family: Intro Black Caps, var(--fonts);
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
}

.event__item:before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--light-grey);
  transform: skew(30deg);
  transition: background-color 300ms ease;
  position: absolute;
  top: 0;
  right: -50%;
  z-index: 0;
}

.event__item:hover:before {
  background-color: var(--orange);
  transition: background-color 300ms ease;
}

.event__title {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.event-date {
  display: flex;
  align-items: center;
  font-family: Intro Cond, var(--fonts);
  font-weight: 900;
  font-size: 60px;
  line-height: 64px;
  position: relative;
  z-index: 1;
}

.event-date__month {
  font-size: 20px;
  color: #80807e;
  transition: color 300ms ease;
}

.event__item:hover .event-date__month {
  color: #fff;
  transition: color 300ms ease;
}

.event-date__delimiter {
  width: 20px;
  height: 6px;
  background-color: #fff;
  margin: -15px 10px 0;
}

.event-date__day {
  transition: color 300ms ease;
}

.event__item:hover .event-date__day {
  color: var(--orange);
  transition: color 300ms ease;
}

.footer {
  height: 244px;
  background-color: var(--grey);
  border-top: 2px solid var(--dark-orange);
  position: relative;
  overflow: hidden;
}

.footer:before {
  content: '';
  background-color: var(--light-grey);
  transform: skew(-45deg);
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 30px;
  left: calc(-50% + 170px);;
  pointer-events: none;
}

.copyright {
  margin-top: 5px;
  margin-right: auto;
  color: rgba(255, 255, 255, .66);
}

.headline_footer {
  margin-top: 47px;
}

.to-top {
  display: flex;
  justify-content: center;
  margin-top: 55px;
}

.to-top__link {
  font-family: Intro Bold Caps, var(--fonts);
  font-size: 12px;
  line-height: 16px;
  color: #ccc;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 22px;
  position: relative;
}

.to-top__link:before {
  content: '';
  width: 100%;
  height: 16px;
  background: url(../images/button-up.png) no-repeat 50% 0;
  position: absolute;
  top: 0;
  left: 0;
}

.banners {
  background-color: var(--grey);
  border-bottom: 4px solid var(--orange);
  color: #fff;
}

.banners_invert {
  background-color: #fff;
  color: #333;
}

.banner-list {
  height: 200px;
  align-items: center;
  margin-top: 0;
}

.banner__item {
  display: flex;
  color: inherit;
  text-decoration: none;
  align-items: center;
}

.banner__image {
  vertical-align: bottom;
  filter: grayscale(100%);
  transition: filter 300ms ease;
}

.banner__item:hover .banner__image {
  filter: none;
  transition: filter 300ms ease;
}

.banner-text {
  margin-left: 20px;
}

.banner-text__bold {
  font-weight: 700;
  transition: color 300ms ease;
}

.banner__item:hover .banner-text__bold {
  color: var(--orange);
  transition: color 300ms ease;
}

.services {

}

.service-list {
  width: 940px;
  height: 270px;
  justify-content: space-between;
  margin: 0 auto;
}

.service__col {
  width: 250px;
  flex-basis: auto;
  flex-grow: 0;
}

.service__link {
  display: block;
  padding-top: 122px;
  margin-top: 58px;
  position: relative;
  color: var(--text-color);
  font-family: Intro Bold Caps, var(--fonts);
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.service__link:before {
  content: '';
  width: 96px;
  height: 96px;
  background: url(../images/service-icon.png) no-repeat;
  margin-left: calc(-96px / 2);
  position: absolute;
  top: 0;
  left: 50%;
}

.service__link_map:before {
  background-position: 0 0;
}

.service__link_window:before {
  background-position: -96px 0;
}

.service__link_compass:before {
  background-position: -192px 0;
}

.text-bold {
  font-family: Intro Black Caps, var(--fonts);
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

.text-bold__small {
  font-size: 14px;
}

.text-orange {
  color: var(--orange);
}

.text-white {
  color: #fff;
}

.text-right {
  text-align: right;
}

.intro {
  position: relative;
}

/* все псеводэлементы потом можно переделать в блоки для парасакса */
.intro:before {
  content: '';
  width: 100%;
  height: 490px;
  background-image: url(../images/intro-bg.jpg);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.intro:after {
  content: '';
  width: 100%;
  height: 520px;
  background: url(../images/intro-pattern.png) repeat-x 0 0;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.intro-inner {
  height: 598px;
  padding-top: 125px;
  padding-bottom: 43px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro__title {
  margin: 0;
  color: #fff;
  font-family: Intro Black Caps, var(--fonts);
  font-size: 48px;
  line-height: 52px;
  text-align: center;
}

.intro-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-text__left {
  width: 630px;
  font-size: 16px;
  line-height: 24px;
}

.intro-text__right {
  width: 190px;
}

.intro-text__top {
  font-family: Intro Black Caps, var(--fonts);
  font-size: 20px;
  line-height: 20px;
}

.intro-text__bottom {
  font-family: Intro Black Caps, var(--fonts);
  font-size: 20px;
  line-height: 20px;
  text-align: right;
}

.orange__number {
  margin: 9px 0;
}

.number {
  display: inline-block;
  height: 154px;
  background: url(../images/numbers.png) no-repeat;
  vertical-align: bottom;
}

.number_22 {
  width: 183px;
}

.number_40 {
  width: 215px;
  height: 157px;
  background-position: 0 -154px;
}

.number_5 {
  width: 90px;
  height: 155px;
  background-position: 0 -311px;
}

.number_4 {
  width: 100px;
  height: 157px;
  background-position: 0 -154px;
}

.number_53 {
  width: 196px;
  background-position: 0 -466px;
}

.stat {
  height: 787px;
  background: url(../images/polygon.svg) repeat-x 50% 50%;
}

.stat-inner {
  padding-top: 218px;
}

.stat-numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.stat-numbers_white {
  align-items: center;
}

.stat-numbers__percent {
  color: var(--orange);
  font-family: Intro Black Caps, var(--fonts);
  font-size: 140px;
  line-height: 104px;
  vertical-align: bottom;
}

.stat-white {
  height: 551px;
}

.stat-white-inner {
  padding-top: 117px;
}

.stat-line {
  width: 2px;
  background-color: var(--light-grey);
  align-self: stretch;
}

.stat-line_light {
  background-color: #ededec;
}

.stat-window {
  background: var(--grey) url(../images/big-15-bg.png) no-repeat calc(50% - 340px) 50%;
}

.one-window {
  height: 660px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.one-window__item {
  display: flex;
}

.big-15 {
  width: 270px;
  height: 232px;
  background: url(../images/big-15.png) no-repeat 0 0;
  margin-right: 21px;
}

.one-window__title {
  color: #fff;
  font-family: Intro Black Caps, var(--fonts);
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 38px;
}

.supports {
  background-color: var(--grey);
  padding-top: 27px;
  padding-bottom: 54px;
}

.supports__title {
  font-family: Intro Black Caps, var(--fonts);
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  margin: 0 0 57px;
}

.button_yellow {
  background-color: #ffc300;
  border-color: #ffc300;
  color: #333;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, .3);
}
