extends layout

block content
  .page
    section.section.news(style={height: 'calc(100vh - 65px - 58px)'})
      .container(style={width: '500px'})
        h2.caption.caption_white Оглавление
        ol
          li
            a.link(href='fru.html') ФРЮ
          li
            a.link(href='frpu.html') ФРПЮ
          li
            span.link Проверка пуша 
          li
            span.link Еще одна проверка пуша
